# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/storage/*.sqlite3
/storage/*.sqlite3-*

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore storage (for hierarchical storage).
/storage/*
!/storage/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key
/config/credentials/*.key

# Kamal secrets
/.kamal/

# Server data volumes
/server-data/
/server-compose/

# Pack library
/pack-library/
